{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<br> <br> <br> <br> 

<main class="container">


    <form method="post" action="{{ path('app_reset_password', {'token':token}) }}">

        <h1 class="titre_form">Mofidification du mot de passe</h1>

        <div id="page_login">

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre nouveau mot de passe" required>

            <br>

            <button class="button_submit" type="submit">
                Soumettre
            </button>

        </div>
    </form>
</main>

<br> <br> <br> <br> 
{% endblock %}