{% extends 'base.html.twig' %}



{% block title %}
    Mentions Légales
{% endblock %}


{% block body %}
dddd
<div class="mentions_leg">
<h1>MENTIONS LEGALES :</h1>


<P>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://www.ad-installations.fr" target="_blank">www.ad-installations.fr</a> les informations suivantes :</P>

<p>ÉDITEUR
    <br>
Le site <a href="http://www.ad-installations.fr" target="_blank">www.ad-installations.fr</a> est la propriété exclusive de <strong>SARL AD INSTALLATIONS</strong>, qui l'édite.</p>

<p><strong>AD INSTALLATIONS</strong>
<br>
<strong>SARL </strong>au capital de <strong>7 700€</strong>


<p><strong>1bis, rue de l'avenir </strong>
<br>
<strong>77610 Neufmoutiers-en-Brie</strong>
<br>
Immatriculée au Registre du Commerce et des Sociétés de  <strong>Meaux </strong>sous le numéro<strong> </strong><strong>429 868 573 00016</strong><strong> </strong></p>

<p>Numéro TVA intracommunautaire : <strong>000000000</strong><br />
Adresse de courrier électronique : <strong>contact@ad-installations.fr</strong> <br />
 <br />
Directeur de la  publication : <strong>Yassine Aabidouche</strong><br />
Contactez le responsable de la publication : <strong>y.aabidouche@gmail.com</strong></p>


<p><strong>HÉBERGEMENT</strong>
<br>
Le site est hébergé par :
<br>
<strong>1&1 Internet SARL
<br>
7, place de la Gare - BP 70109
<br>
57200 Sarreguemines Cedex </strong><br />

</div>
{% endblock %}