{% extends 'base.html.twig' %}



{% block title %}
    Mentions Légales
{% endblock %}


{% block content %}
dddd
<div class="mentions_leg">
    
    <h1>POLITIQUE DE CONFIDENTIALITE</h1> 
        <br>
    <h3>Sécurité et protection des données personnelles</h3>   
        <br>
    <h5 class="underline">Avertissements</h5>


        <p>Le présent outil est mis à votre disposition gratuitement. L'outil se base sur des informations fondées sur l’analyse professionnelle du cabinet en matière de conformité RGPD. Toutefois, la conformité étant un processus dynamique et toute situation étant particulière, les informations transmises doivent être adaptées et ne peuvent en aucun cas être considérées comme exhaustives ou exactes.</p>


        <p>Sauf à ce que vous demandiez une revue et validation par le Cabinet, le document généré est considéré comme une simple information. En conséquence, vous êtes seul responsable des interprétations faites des informations fournies, des conseils que vous en déduisez et des adaptations réalisées pour votre activité commerciale propre. L'utilisation et l'exploitation de l'outil se fait donc sous votre seule responsabilité et à vos risques et périls.</p>


    <h5 class="underline">Définitions :</h5>
        <br>
        <p><span class="bold">L'Éditeur</span> : La personne, physique ou morale, qui édite les services de communication au public en ligne.
        <br>
        <span class="bold">Le Site</span> : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur.
        <br>
        <span>L'Utilisateur</span> : La personne utilisant le Site et les services.</p>
        <br>
    <h4>Nature des données collectées </h4>
        <br>
        <P><span class="bold">Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données suivantes concernant ses Utilisateurs :</span></P>
        <br>
        <p>Données d'état-civil, d'identité, d'identification...</p>
        <br>
        <p>Données de localisation (déplacements, données GPS, GSM...)</p>
        <br>
    <h4>Communication des données personnelles à des tiers</h4>
        <br>
    <p><span class="bold">Communication aux autorités sur la base des obligations légales</span>
        <br>
        Sur la base des obligations légales, vos données personnelles pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente. De manière générale, nous nous engageons à nous conformer à toutes les règles légales qui pourraient empêcher,
        limiter ou réglementer la diffusion d’informations ou de données et notamment à se conformer à la Loi n° 78- 17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
        <br>
    <p><span class="bold">Communication à des tiers en fonction des paramètres du compte</span>
        <br>
    Vos données personnelles sont strictement confidentielles et ne peuvent être divulguées à des tiers, sauf en cas d’accord exprès obtenu via les paramètres de votre compte.</p>
        <br>
    <p><span class="bold">Communication à des tiers pour sollicitation commerciale pour des produits et services équivalents</span>
        <br>
    Si vous avez effectué un achat sur notre Site, nous pouvons, avec nos partenaires commerciaux et de manière occasionnelle, vous tenir informé de nos nouveaux produits, actualités et offres spéciales, par courriel, par courrier postal et par téléphone quant à des produits ou services similaires aux produits ou services qui ont fait l'objet de votre commande.</p>



    <p><span class="bold">Communication à des tiers avec restrictions liées aux destinataires</span>
        <br>
    Les données personnelles que vous nous communiquez lors de votre commande sont transmises à nos fournisseurs et filiales pour le traitement de celle-ci. Ces informations sont considérées par nos fournisseurs et filiales comme étant strictement confidentielles.</p>


    <h4>Viralité des conditions de réutilisation des données personnelles</h4>
        <br>
    <p><span class="bold">Pas d'engagement sur la viralité des conditions de réutilisation</span>
        <br>
    En cas de communication de vos données personnelles à un tiers, les conditions de confidentialité du tiers s'appliquent.</p>
        <br>
    <h4>Information préalable pour la communication des données personnelles à des tiers en cas de fusion / absorption</h4>
        <br>
    <h5>Information préalable et possibilité d’opt-out avant et après la fusion / acquisition</h5>
        <br>
    <p>Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de cession d’actifs, nous nous engageons à garantir la confidentialité de vos données personnelles et à vous informer avant que celles-ci ne soient transférées ou soumises à de nouvelles règles de confidentialité.</p>
        <br>
    <h4>Finalité de la réutilisation des données personnelles collectées</h4>
        <br>
    <h5>Effectuer les opérations relatives à la gestion des clients concernant</h5>
        <br>
        <ul>
            <li>• les contrats ; les commandes ; les livraisons ; les factures ; la comptabilité et en particulier la gestion des comptes clients</li>
            <li>• un programme de fidélité au sein d'une entité ou plusieurs entités juridiques</li>
            <li>• le suivi de la relation client tel que la réalisation d'enquêtes de satisfaction, la gestion des réclamations et du service après-vente</li>
            <li>• la sélection de clients pour réaliser des études, sondages et tests produits (sauf consentement des personnes concernées recueilli dans les conditions prévues à l’article 6, ces opérations ne doivent pas conduire à l'établissement de profils susceptibles de faire apparaître des données sensibles - origines raciales ou ethniques, opinions philosophiques, politiques, syndicales, religieuses, vie sexuelle ou santé des personnes)</li>
        </ul>  
        <br>
    <h4>Agrégation des données</h4>
        <br>
    <p><span class="bold">Agrégation avec des données non personnelles</span>
        <br>
    Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos Utilisateurs ou à des groupes ou   catégories spécifiques d'Utilisateurs que nous combinons de manière à ce qu'un Utilisateur individuel ne puisse plus être identifié ou     mentionné) et les informations non personnelles à des fins d'analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires et à d'autres fins commerciales.</p>
    
    
    <p><span class="bold">Agrégation avec des données personnelles disponibles sur les comptes sociaux de l'Utilisateur</span>
        <br>
    Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés, ledit service pourra nous communiquer vos informations de profil, de connexion, ainsi que toute autre information dont vous avez autorisé la divulgation. Nous pouvons agréger les informations relatives à tous nos autres Utilisateurs, groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.</p>
        <br>
    <h4>Collecte des données d'identité</h4>
        <br>
    <p><span class="bold">Inscription et identification préalable pour la fourniture du service</span>
        <br>
    L’utilisation du Site nécessite une inscription et une identification préalable. Vos données nominatives (nom, prénom, adresse postale, e-mail, numéro de téléphone,...) sont utilisées pour exécuter nos obligations légales résultant de la livraison des produits et / ou des services, en vertu du Contrat de licence utilisateur final, de la Limite de garantie, le cas échéant, ou de toute autre condition applicable. Vous ne fournirez pas de fausses informations nominatives et ne créerez pas de compte pour une autre personne sans son autorisation. Vos coordonnées devront toujours être exactes et à jour.</p>
        <br>
    <h5>Collecte des données d'identification</h5>
        <br>
    <p><span class="bold">Utilisation de l'identifiant de l'utilisateur pour proposition de mise en relation et offres commerciales</span>
        <br>    
    Nous utilisons vos identifiants électroniques pour rechercher des relations présentes par connexion, par adresse mail ou par services. Nous pouvons utiliser vos informations de contact pour permettre à d'autres personnes de trouver votre compte, notamment via des services tiers et des applications clientes. Vous pouvez télécharger votre carnet d'adresses afin que nous soyons en mesure de vous aider à trouver des connaissances sur notre réseau ou pour permettre à d'autres Utilisateurs de notre réseau de vous trouver. Nous pouvons vous
    proposer des suggestions, à vous et à d'autres Utilisateurs du réseau, à partir des contacts importés de votre carnet d’adresses. Nous sommes susceptibles de travailler en partenariat avec des sociétés qui proposent des offres incitatives. Pour prendre en charge ce type de promotion et d'offre incitative, nous sommes susceptibles de partager votre identifiant électronique.</p>
        <br>
    <h5>Géolocalisation</h5>
        <br>
    <p><span class="bold">Géolocalisation à des fins de fourniture du service</span>
        <br>
    Nous collectons et traitons vos données de géolocalisation afin de vous fournir nos services. Nous pouvons être amenés à faire usage des données personnelles dans le but de déterminer votre position géographique en temps réel. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la géolocalisation.</p>
        <br>
    <p><span class="bold">Géolocalisation à des fins de croisement</span>
        <br>
    Nous collectons et traitons vos données de géolocalisation afin de permettre à nos services d'identifier les points de croisement dans le temps et dans l'espace avec d'autres Utilisateurs du service afin de vous présenter le profil des Utilisateurs croisés. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la géolocalisation. Vous reconnaissez alors que le service ne sera plus en mesure de vous présenter de profil des autres Utilisateurs.</p>
        <br>
    <p><span class="bold">Géolocalisation avec mise à disposition des partenaires pour référencement et agrégation (avec opt-in)</span>
        <br>
    Nous pouvons collecter et traiter vos données de géolocalisation avec nos partenaires. Nous nous engageons à anonymiser les données utilisées. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la géolocalisation.</p>
        <br>
    <h5>Collecte des données du terminal</h5>
        <br>
    <p><span class="bold">Aucune collecte des données techniques</span>
        <br>
    Nous ne collectons et ne conservons aucune donnée technique de votre appareil (adresse IP, fournisseur d'accès à Internet...).</p>
        <br>
    <h5>Cookies</h5>
        <br>
    <p><span class="bold">Durée de conservation des cookies</span>
        <br>
    Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.</p>
        <br>
    <p><span class="bold">Finalité cookies</span>
        <br>
    Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les services rendus à l'Utilisateur, à partir du traitement des informations concernant la fréquence d'accès, la personnalisation des pages ainsi que les opérations réalisées et les informations consultées. Vous êtes informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal. Le cookie enregistre
    des informations relatives à la navigation sur le service (les pages que vous avez consultées, la date et l'heure de la consultation...) que nous pourrons lire lors de vos visites ultérieures.</p>
        <br>
    <p><span class="bold">Opt-in pour le dépôt de cookies</span>
        <br>
    Nous n'utilisons pas de cookies. Si nous devions en utiliser à l’avenir, vous en seriez informé préalablement et auriez la possibilité de désactiver ces cookies.</p>
        <br>
    <h5>Conservation des données techniques</h5>
        <br>
    <p><span class="bold">Durée de conservation des données techniques</span>
        <br>
    Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités
    visées ci-avant.</p>
        <br>
    <h5>Délai de conservation des données personnelles et d'anonymisation</h5>
        <br>
    <p><span class="bold">Conservation des données pendant la durée de la relation contractuelle</span>
        <br>
    Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée prédéfinie de la relation contractuelle.</p>
        <br>
    <p><span class="bold">Conservation des données anonymisées au delà de la relation contractuelle / après la suppression du compte</span>
        <br>
    Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des finalités décrites dans les présentes CGU. Au-delà de cette durée, elles seront anonymisées et conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit.</p>
        <br>
    <p><span class="bold">Suppression des données après suppression du compte</span>
        <br>
    Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout moment en prenant contact avec l'Éditeur.</p>
        <br>
    <p><span class="bold">Suppression des données après 3 ans d'inactivité</span>
        <br>
    Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période de trois ans, vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront supprimées de nos bases de données.</p>
        <br>
    <h5>Suppression du compte</h5>
        <br>
    <p><span class="bold">Suppression du compte à la demande</span>
        <br>
    L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur OU par le menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.</p>
        <br>
    <p><span class="bold">Suppression du compte en cas de violation des CGU</span>
        <br>
    En cas de violation d'une ou de plusieurs dispositions des CGU ou de tout autre document incorporé aux présentes par référence, l'Éditeur se réserve le droit de mettre fin ou restreindre sans aucun avertissement préalable et à sa seule discrétion, votre usage et accès aux services, à votre compte et à tous les Sites.</p>
        <br>
    <h5>Indications en cas de faille de sécurité décelée par l'Éditeur</h5>
        <br>
    <p><span class="bold">Information de l'Utilisateur en cas de faille de sécurité</span>
        <br>
    Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant. Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :</p>
        <br>
    <ul>
        <li>• Vous notifier l'incident dans les plus brefs délais ;</li>
        <li>• Examiner les causes de l'incident et vous en informer ;</li>
        <li>• Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs etpréjudices pouvant résulter dudit incident</li>
    </ul>
        <br>
        <br>
    <p><span class="bold">Limitation de la responsabilité</span>
        <br>
    En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de sécurité ne
    peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance
    de l'incident en question.</p>
        <br>
    <h5>Transfert des données personnelles à l'étranger</h5>
        <br>
    <p><span class="bold">Pas de transfert en dehors de l'Union européenne</span>
        <br>
    L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors de l'Union
    européenne.</p>
        <br>
    <h5>Modification des CGU et de la politique de confidentialité</h5>
        <br>
    <p><span class="bold">En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de confidentialité de manière substantielle sans l'information préalable des personnes concernées</span>
        <br>
    Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU, et à ne pas baisser le niveau de confidentialité de vos données de manière substantielle sans vous en informer et obtenir votre consentement.</p>
        <br>
    <h5>Droit applicable et modalités de recours</h5>
        <br>
    <p><span class="bold">Application du droit français (législation CNIL) et compétence des tribunaux</span>
        <br>
    Les présentes CGU et votre utilisation du Site sont régies et interprétées conformément aux lois de France, et notamment à la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le choix de la loi applicable ne porte pas atteinte à vos droits en tant que consommateur conformément à la loi applicable de votre lieu de résidence. Si vous êtes un consommateur, vous et nous acceptons de se soumettre à la compétence non-exclusive des juridictions françaises, ce qui signifie que vous pouvez engager une action relative aux présentes CGU en France ou dans le pays de l'UE dans lequel vous vivez. Si vous êtes un professionnel, toutes les actions à notre encontre doivent être engagées devant une juridiction en France.</p>
        <br>
    <p>En cas de litige, les parties chercheront une solution amiable avant toute action judiciaire. En cas d'échec de ces tentatives, toutes contestations à la validité, l'interprétation et / ou l'exécution des présentes CGU devront être portées même en cas de pluralité des défendeurs ou d'appel en garantie, devant les tribunaux français.</p>

</div>

{% endblock %}