{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="modifmdp">
    <div class="form-group">
        <label for="username" value="{{ 'resetting.request.username'|trans }}">Veuillez saisir votre adresse mail pour modifier votre mot de passe</label>
        <input type="email" class="form-control" id="username" name="username" required="required" placeholder="E-mail" />  
    </div>
    
    <div>
       <button type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary">Envoyez</button>
    </div>
</form>
