{% extends "@!FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
<div class="messconfirmed">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ path('app_home') }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
</div>
{% endblock fos_user_content %}


