{% extends 'base.html.twig' %}

{% block title %}
Cuisines
{% endblock %}

{% block body %}

<figure class="accueil_specialite">
    <div>
        <img class="photo-opacity2" src="img/upload/cuisine1.1.jpg" alt="photo_cuisine">    
    </div>

    <div>
        <h1 class="titrespe">NOS REALISATIONS DE CUISINES</h1>
    </div>
</figure>

<main class="container">

    <br>

    <div>
        <p>La cuisine est l'une des pièces les plus importantes de notre maison et c'est là, le coeur de notre métier. Cela réprésente environ 90% de nos poses. Nous installons tous types de cuisine dans un délai qui varie entre 2 et 5 jours et nous intervenons dans toute la région parisienne. </p>
    </div>

    <section id="la_cuisine"> 

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191121_160945.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191121_160945.jpg" alt="pose_cuisine_blanche">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010242.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010242.jpg" alt="installation_cuisine_en_u">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010321.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010321.jpg" alt="pose_cuisine_en_l">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010337.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010337.jpg" alt="cuisine_marron">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010533.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010533.jpg" alt="cuisine_marron_et_noire">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010450.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010450.jpg" alt="cuisine_luxe">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010446.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010446.jpg" alt="tirroir_et_hotte">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010442.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010442.jpg" alt="cuisine_pied_table">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010430.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010430.jpg" alt="perçase_plan">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010427.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010427.jpg" alt="perçage_quartz">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010425.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010425.jpg" alt="cuisine_brique">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010402.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010402.jpg" alt="cuisine_eau">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010422.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010422.jpg" alt="cuisine_brique2">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010432.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010432.jpg" alt="cuisine_four">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010531.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010531.jpg" alt="cuisine_noir_et_blanche2">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010512.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010512.jpg" alt="cuisine_tirroir">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010354.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010354.jpg" alt="cuisine_carrelage">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/cuisines/IMG_20191123_010340.jpg">
                <img class="img_gal" src="img/upload/cuisines/IMG_20191123_010340.jpg" alt="tirroir_desing">
            </a>
        </div>  

    </section>
</main>

{% endblock %}



