{% extends 'base.html.twig' %}

{% block title %}
Salles de bain
{% endblock %}


{% block body %}

<figure class="accueil_specialite">
    <div>
        <img class="photo-opacity2" src="img/upload/salledebain.jpg" alt="photo_salledebain">    
    </div>
    <section>
        <h1 class="titrespe">NOS REALISATIONS DE SALLES DE BAIN</h1>
    </section> 
</figure>

<main class="container">

    <br>

    <div>
        <p>La salle de bain est la pièce où l'on aime se détendre et qu'il ne faut surtout pas négliger. Nous sommes spécialisés dans l'installations de meubles, vasques, cabines de douche, baignoires et balnéos pour votre plus grand confort. Le délai de pose peut varier entre 2 et 3 jours.</p>
    </div>

    <section id="la_cuisine"> 

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/baignoire.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/baignoire.jpg" alt="baignoire">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/bath.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/bath.jpg" alt="bathroom">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/bois.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/bois.jpg" alt="bois">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/glace.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/glace.jpg" alt="mirroir">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/IMG_20191123_010347.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/IMG_20191123_010347.jpg" alt="vasque">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/luxe.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/luxe.jpg" alt="luxe">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/sdb.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/sdb.jpg" alt="sdb">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/zen.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/zen.jpg" alt="zen">
            </a>
        </div>

        <div class="cuisine_test7">
            <a data-fancybox="gallery" href="img/upload/salles_de_bain/couleurs.jpg">
                <img class="img_gal" src="img/upload/salles_de_bain/couleurs.jpg" alt="couleurs">
            </a>
        </div>

    </section>
</main>

{% endblock %}

