<!doctype html>
<html lang="fr-FR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google-site-verification" content="beNKTA_8LYFNNCJjsW2-6tZVnOZFGqrnM2JRZ9roB0M" />
        <title>AD-INSTALLATIONS : Installateurs professionels à Paris</title>
        <meta name="description"
              content="AD-INSTALLATIONS : spécialiste de la pose et montage de cuisines, salles de bain et dressing, en île de France, par des installateurs professionnels dotés de 40 ans d'expérience.">
        {% block stylesheets %}

        <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Mukta+Malar&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="img/upload/logo/favicon.png" />
        {% endblock %}
    </head>

    <body>

        <header>
            {% block navbar %}
            {% include 'inc/navbar.html.twig' %}
            {% endblock %}
        </header>


        {% block body %}

        {% endblock %}


        {% block javascripts %}
        {{ encore_entry_script_tags ( 'app' ) }}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/jquery.fancybox.min.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="/js/core.js"></script>
        <script src="/js/fullscreen.js"></script>
        <script src="/js/guestures.js"></script>
        <script src="/js/hash.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/wheel.js"></script>
        <script src="/js/media.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/share.js"></script>
        <script src="/js/slideshow.js"></script>
        <script src="/js/thumbs.js"></script>
        {% endblock %}


        <footer>
            {% block footer %}
            {% include 'inc/footer.html.twig' %}
            {% endblock %}
        </footer>

        <script>
            function bigImage() {
                mesImg.src = this.src;
            }

            var vignettes = document.querySelectorAll('.thumbnail');

            for (var i = 0; i < vignettes.length; i++)

                vignettes[i].addEventListener('click', function () {
                    // console.log('test du click'); // pour tester le click
                    document.querySelector('#galerie img').src = this.src;
                    document.querySelector('.titre').innerHTML = this.alt;

                    document.querySelector('.selected').classList.remove('selected'); //on sélectionne la balise de classe "selected" dont on retire la classe "selected" pour que la bordure devienne blanche par défaut.
                    this.classList.add('selected'); // puis on ajoute sur la vignette cliquée (= this) la classe "selected" pour que sa bordure devienne rouge
                });


            //page register//
            function effacer() {
                document.getElementById("registration_form_raisonSociale").disabled = true;
                document.getElementById("registration_form_raisonSociale").removeAttribute("required");
            }

            function afficher() {
                document.getElementById("registration_form_raisonSociale").disabled = false;
                document.getElementById("registration_form_raisonSociale").setAttribute("required", "");
            }

            //page modification du profil//
            function effacer2() {
                document.getElementById("account_raisonSociale").disabled = true;
                document.getElementById("account_raisonSociale").removeAttribute("required");
            }

            function afficher2() {
                document.getElementById("account_raisonSociale").disabled = false;
                document.getElementById("account_raisonSociale").setAttribute("required", "");
            }


            //COOKIE BAR//
            (function($){

                if($.cookie('cookiebar') === undefined) {
                    $('body').append('<div class="cookie" id="cookie">Nous utilisons des cookies afin de vous offrir la meilleure expérience en ligne possible. En cliquant sur AUTORISER, vous acceptez l\'utilisation de cookies conformément à notre politique de cookies.  <a href="/politiques-de-confidentialite/#qu\'est-ce-qu\'un-cookie">En savoir plus</a><div class="cookie_btn" id="cookie_accept">Autoriser</div><div class="cookie_btn cookie_btn-error" id="cookie_cancel">Refuser</div></div>');

                    //Masquer la barre//
                    $('#cookie_accept').click(function(e){
                        e.preventDefault();
                        $('#cookie').fadeOut();
                        $.cookie('cookiebar', "viewed", {expires: 30 * 12})
                    });

                    $('#cookie_cancel').click(function(e){
                        e.preventDefault();
                        $('#cookie').fadeOut();
                        $.cookie('cookiebar', "viewed", {expires: 30 * 12});
                        $.cookie('cookiecancel', "1", {expires: 30 * 12});
                    });

                }

                if ($.cookie('cookiecancel') === undefined){
                    //                    alert('analytics');
                }

            })(jQuery);


            //text inputFile client//
            $('#client_form_imageFile_file').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
            
            //text inputFile magasin//
            $('#mag_form_imageFile_file').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>

    </body>
</html>