<!-- Footer -->
<div class="page-footer font-small bg-dark lighten-3 pt-4 ">

    <!-- Footer Links -->
    <div class="container text-center text-md-center">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1 text-white">
                <!-- Content -->
                <h5 class="font-weight-bold mb-4">A propos</h5>
                <p>AD-INSTALLATIONS est spécialisée dans l'installation de cuisines, salles de bain et dressing partout en île-de-France.</p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1 text-white">

                <!--         Links -->
                <h5 class="font-weight-bold mb-4">Message</h5>

                <ul class="list-unstyled text-white">
                    <li>
                        <p>
                            <a class="contactezNous" href="mailto: ad.installations77@gmail.com">Contactez-nous</a>
                        </p>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1 text-white">
                <!-- Content -->
                <h5 class="font-weight-bold mb-4">Adresse postale</h5>
                <p>1, bis rue de l'avenir 77160 Neufmoutiers-en-Brie.</p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4 text-white">

                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">Suivez-nous</h5>

                <!-- Facebook -->       
                <a href="https://www.facebook.com/AD-installations-104881911043289/" target="_blank">
                    <img class="facebook" src="img/upload/facebook.png" alt="logo_facebook">    
                </a> 
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">
        <a class="text-white" href="https://ad-installations.fr/" translate="none" >© Copyright 2020 ad-installations</a>
        <a class="pipe">|</a>
        <a class="text-white" href="{{ path('app_mentions') }}" translate="none" >Mentions légales</a>
        <a class="pipe">|</a>
        <a class="text-white" href="{{ path('app_rgpd') }}" translate="none" >Politiques de confidentialité</a>
    </div>
    <!-- Copyright -->

</div>
<!-- Footer -->