<h4> Bonjour,</h4>

<p>
  Pour modifier votre mot de passe, veuillez cliquer   
  <a href="{{appUrl  ~ 'reset_password/' ~ user.resetToken}}">ici.</a>
  <br> 
  Notez que ce lien ne peut être utilisé qu'une seule fois.
</p>

<br>

<p>Cordialement,</p>
<p>AD-INSTALLATIONS</p>


<a href="/">
    <img class="facebook" src="img/upload/logo/logo_ad-installations.png" alt="logo_ad-installations">
</a>