
 <p>Bonjour {{user.username}}</p>  

 <p>Merci de cliquer sur le lien ci-dessous pour valider votre inscription</p>

<p>
   <a href="{{appUrl ~ 'activate/' ~ user.confirmationToken}}">Cliquez ici</a> 
</p>


