<h4> Bonjour ! </h4>

<p>
  Pour valider votre compte utilisateur, merci de cliquer sur ce  <a href="{{appUrl ~ 'activate-user/' ~ user.email ~ '?confirmationToken=' ~ user.confirmationToken}}">lien.</a> 
  <hr>
Ce lien ne peut être utilisé qu'une seule fois pour valider votre compte.
</p>

<hr>

<p>Cordialement,</p>
<p>AD-INSTALLATIONS</p>


<a href="/">
    <img class="facebook" src="img/upload/logo/logo_ad-installations.png" alt="logo_ad-installations">
</a>