<h4> Bonjour ! </h4>

<p>
   vous a envoyé le message suivant :
  
  <br>
  
  Sujet :  {{client.sujet}}
  
  <br>
  <br>
  
  Message : 
  
  <br>
  <br>
  
  {{client.projet}} 
</p>

<a href="{{appUrl ~ client.imageFile}}">lien.</a>

<hr>

<p>Cordialement,</p>
<p>AD-INSTALLATIONS</p>

